@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: black;
  height: 200%;
  font-family: "Montserrat", sans-serif;
}

#message {
  width: 80vw;
  height: 3vh;
  border-radius: 1cm;
  background-color: #101927;
  color: white;
  border-style: none;
}

#message::placeholder {
  color: white;
}
.client-send {
  bottom: 5%;
  position: absolute;
}

.client-send button {
  height: 3vh;
  background-color: #101927;
  color: white;
  border-style: none;
}

input:focus {
  outline: none;
}

#messages {
  background-color: #101927;
  width: 80vw;
  height: 88vh;
  color: white;
  overflow: auto;
}

#sendbtn {
  visibility: hidden;
}

#users {
  position: absolute;
  right: 2%;
  width: 15vw;
  height: 40vh;
  top: 1%;
  background-color: #101927;
}

#username {
  background-color: #101927;
  border-style: none;
  border-radius: 1cm;
  height: 3vh;
  width: 10vw;
  color: white;
}

#username::placeholder {
  color: white;
}

footer {
  position: inherit;
  color: white;
}

a {
  color: white;
}

#user {
  float: right;
  font-size: small;
}

#userbtn {
  visibility: hidden;
}

.username-bx {
  margin-left: 2em;
  font-size: 18px;
  font-weight: bolder;
}

.right {
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 5%;
}

footer img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2%;
  bottom: 9%;
}

#users {
  color: white;
  overflow: auto;
}

table {
  width: 15vw;
  height: 5vh;
}

td {
  border: solid black;
  position: relative;
  left: 8px;
}

.other {
  width: 100%;
  left: 100%;
  position: absolute;
  bottom: 10%;
}

#users p {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  text-align: center;
  width: 100%;
}
